body {
  max-width: 40em;
  margin: 0 auto;
  padding: 5px;
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 1.6em;
  color: white;
  background-color: black;
}

h1, h2, h3 {
  font-family: Georgia, serif;
  font-weight: bold;
}

a.secret-poem:link {              
  color: black;
  position: absolute;
  text-decoration: none;
  bottom: 0;
}

a.secret-poem:visited { 
  color: black;
  position: absolute;
  text-decoration: none;
  bottom: 0;
}

a.secret-poem:hover { 
  color: black;
  position: absolute;
  text-decoration: none;
  bottom: 0;
}

a:link {
  color: lightcoral;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: lightcoral;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

