body {
  max-width: 40em;
  margin: 0 auto;
  padding: 5px;
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 1.6em;
  color: white;
  background-color: black;
}

h1, h2, h3 {
  font-family: Georgia, serif;
  font-weight: bold;
}

a:link {
  color: lavender;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: lightcoral;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
