.grid-container {
  width: 100vw;
  position: relative;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: auto auto auto;
  left: calc(-50vw + 50%);
  justify-content: center;
}

.grid-item {
  padding: 20px;
}


.row:after {
  content: "";
  clear: both;
  display: table;
}
